html {
    font-family: serif;
    background: gray;
}

h1 {
    padding: 0em auto;
    font-size: 16px;
}

p, li {
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 2em;
}

body, container {
    margin: 1em auto;
    width: 45%;
    padding: 2em 5em 5em 5em;
    border: 2px solid blue;
    background: lightyellow;
    display: flex;
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: purple;
}

.item {
    border: 1px solid green;
    padding: 0em 1em 1em;
    margin: 2.5em auto;
    background: aquamarine;
    flex-wrap: wrap;
    min-width: 10em;

}
	    
