
html {
    font-family: serif;
    background: gray;
}

h1 {
    margin: 0em 1em 0em 0em;
    font-size: 16px;
}

p, li {
    letter-spacing: 1px;
    font-size: 14px;
    margin-right: 2em;
}

.container {
    display: flex
}

body {
    margin: 1em auto;
    width: 45%;
    padding: 2em 5em 7em 5em;
    border: 2px solid blue;
    background: lightyellow;
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: purple;
}

a:hover {
  background-color: cyan;
}

.item {
    padding: 0em 1em 0em;
    margin: 2.5em auto;
    min-width: 10em;
}
	    
