html {
  font-family: serif;
}

h1 {
    padding-bottom: 10px;
    font-size: 16px;
}

p, li {
    letter-spacing: 1px;
    font-size: 14px
}

body {
  padding: 0px 1250px 0px 0px;
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: crimson;
}

hr {
  border: none;
}

.sub {
  text-align: center;
}
